<%= render :file => 'songs/index' %>

<h1>Nepali Artist</h1>
<div class="ui three column grid">

  <div class="column">

    <div class="ui fluid image">

      <a class="image" href="/song">

        <!--    <div class="ui medium circular image">-->
        <div class="ui medium circular image">
          <img src="https://i.ytimg.com/vi/8Yy2kmqty5I/hqdefault.jpg">
        </div>
      </a>
      <div class="content">
        <b class="header">Ramkrishna Dhakal</b>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid image">

      <a class="image" href="/song">
        <!--    <div class="ui medium circular image">-->
        <div class="ui medium circular image">
          <img src="https://alchetron.com/cdn/narayan-gopal-458e4e30-2ac0-420e-8c3d-6a9bdb8aa50-resize-750.jpeg" width="100%" height="100%">
        </div>
      </a>
      <div class="content">
        <b class="header">Narayan Gopal</b>


      </div>
    </div>


  </div>
</div>


