<%#@form_result.each do |res| %>
  <%#=res[:slide1] %>
<!--  <iframe width="420" height="315"-->
<!--          src="<%#=res.url %>">-->
<!--  </iframe>-->
<!--  <div class="ui small image">-->
<!--    <img src="<%#= res.thumbnail%>">-->
<!--  </div>-->
<!--  <p> <a href="<%#= res[:url] %>" target="_blank">link to the video</a> instead.</p>-->


<%#end %>
        <%# end %>


<body style="background-color:grey;">
<div class="ui grid center aligned">
  <div class="sixteen wide column">
    <div class="small ui search" id="search-bar">
      <%= form_tag('/soccer-search') do%>
        <div class="ui icon input">

          <!--    <input class="prompt" type="text" placeholder="Name" name="artist_name">-->
          <%= search_field_tag :search, params[:search], placeholder: "team or league name" %>

          <!--                    <i class="search icon"></i>-->
          <!--                    <div class="input-group-btn">-->
          <%= submit_tag "search",:titles => nil%>
          <!--                    </div>-->

        </div>
        <div class="results">
        </div>
      <%end %>
    </div>
  </div>
</div>
<div class="ui three stackable cards">
  <div class="card">
    <div class="image">
      <%@form_result.each do |image| %>
      <img src="<%=image.thumbnail %>">
    </div>
  </div>
</div>
      <%end %>
      </body>

