<body style="background-color:navajowhite;">
<div class="ui grid center aligned">
  <div class="sixteen wide column">
    <div class="small ui search" id="search-bar">
      <%= form_tag('/video-search') do%>
        <div class="ui icon input">

          <!--    <input class="prompt" type="text" placeholder="Name" name="artist_name">-->
          <%= search_field_tag :search, params[:search], placeholder: "song or genre name" %>

          <!--                    <i class="search icon"></i>-->
          <!--                    <div class="input-group-btn">-->
          <%= submit_tag "search",:titles => nil%>
          <!--                    </div>-->

        </div>
        <div class="results">
        </div>
      <%end %>
    </div>
  </div>
</div>
<br/>
<br/>

<div class="ui three stackable cards">
  <div class="card">
    <div class="image">
      <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
    </div>
  </div>
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
      </div>
    </div>
      <div class="card">
        <div class="image">
          <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
        </div>
      </div>
  <div class="card">
    <div class="image">
      <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
    </div>
</div>
</div>
</body>