<body style="background-color:thistle;">

<div class="ui grid center aligned">
  <div class="sixteen wide column">
    <div class="small ui search" id="search-bar">
      <%= form_tag('/search') do%>
        <div class="ui icon input">

          <!--    <input class="prompt" type="text" placeholder="Name" name="artist_name">-->
          <%= search_field_tag :search, params[:search], placeholder: "Name" %>

<!--                    <i class="search icon"></i>-->
<!--                    <div class="input-group-btn">-->
          <%= submit_tag "search",:name => nil%>
<!--                    </div>-->

        </div>
        <div class="results">
        </div>
            <%end %>
        </div>
        </div>
        </div>

