<body style="background-color:grey;">

<% content_for :home do %>
  <img src="https://images.all-free-download.com/images/graphicthumb/beautiful_scenery_04_hd_pictures_166258.jpg" width="100%" height="50%" />

  <div class="ui three stackable cards">
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">

      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/xv5_uD2A4YM/hqdefault.jpg?v=5e0ae4f3">
      </div>
    </div>
  </div>

<% end %>
</body>

